div,input,textarea{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 80%;
    height: 200px;
    /* background-color: #eee; */
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    /* background-color: yellow; */
    float: left;
}

.img1 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* height: 150px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    
}

.blog-profile {
    width: 50px;
    border-radius: 50%;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.text {
    font-size: 12px;
    color: darkgray;
    margin: 5px;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    /* margin: 10px; */
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.navbar a:link {
    color: blue;
}

.navbar a:visited {
    color: blue;
}

/* .contact {
    width: 800px;
    background: white;
    padding: 50px;
    margin: auto;
}

.contact-title {
    width: 80%;
    background: white;
    margin: auto;

}

.contact-Email {
    width: 80%;
    background: white;
    margin: auto;
}

.contact-name {
    width: 80%;
    background: white;
    margin: auto;
}

.first {
    width: 40%;
    background: white;
    margin: auto;
    float: left;
}

.last {
    width: 50%;
    background: white;
    margin: auto;
    float: left;
}

.contact-message {
    width: 80%;
    background: white;
    margin: auto;
}

p {
    margin: 5px;
}

input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}

input[type=text] {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
} */


.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.form-size {
    padding: 100px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    /* display: block;
    margin-left: auto; */
    float: right;
}

p {
    margin: 5px;
}