.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 80%;
    height: 200px;
    /* background-color: #eee; */
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    /* background-color: yellow; */
    float: left;
}

.img1 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* height: 150px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    
}

.blog-profile {
    width: 50px;
    border-radius: 50%;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.text {
    font-size: 12px;
    color: darkgray;
    margin: 5px;
}