body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 15px;
}

.main-bg {
  height: 550px;
  background-image: linear-gradient(to bottom, #499add, #4e61c0);
  padding: 20px; /* h4 입력시 위에 잘리는 배경 채우기 */
  color: white;
}
/* sdsdsd */
.main-container {
  max-width: 1800px;
  padding-left: 30px;
  display: flex;
}

.main-text {
  margin-top: 50px;
}

/* .main-bg p {
    color: white;
    padding: 1px;
    width: 40%;
    margin-left: 50px;
} */

.btn {
  padding: 15px 20px;
  font-size: 16px;
  font-family: "nanumsquare";
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-black {
  background-color: #444;
  color: white;
}

.btn-black:hover {
  background-color: dimgrey;
}

.btn-black:active {
  background-color: darkgrey;
}

.iphone {
  /* display: block; */
  width: 400px;
  margin-top: 95px;
}

.main-text p {
  /* padding-right: 100px; */
  margin-right: 100px;
}

.second-title {
  text-align: center;
  padding-top: 30px;
}

/* 글자간 위 아래 간격 줄이기 */
.second-title h2 {
  margin-bottom: 0;
}

.second-title p {
  margin-top: 0;
}

.service {
  background-color: #4e61c0;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding: 50px 30px 50px 30px;
}

.service-container {
  max-width: 1800px;
  /* padding-left: 30px; */
}

.service-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.service-container h4 {
  margin-top: 0;
}

.service-items {
  display: flex;
}

.service-items div {
  width: 25%;
}

.service h5 {
  margin-bottom: 0;
}

.service-items p {
  margin-top: 0;
}

.service-icon {
  background-color: white;
  color: #4e61c0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 25px;
  box-sizing: border-box;
  /* margin-top: 30px; */
}

.bg-left {
  float: left;
  width: 50%;
  height: 50%;
  padding-left: 100px;
}

.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.portfolio-container {
  text-align: left;
  max-width: 1800px;
  margin-left: 5%; /* 화면 전체말고 약간의 줄임이 이뻐서 수정 */
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap; /* 줄바꿈으로 2칸 채우고 나머지 2개를 내리게 함 */
}

.portfolio-item1 {
  background-image: url(../image/portfolio-1.jpg);
  background-size: cover;
  width: 50%;
  height: 350px;
}
.portfolio-item2 {
  background-image: url(../image/portfolio-2.jpg);
  background-size: cover;
  width: 50%;
  height: 350px;
}
.portfolio-item3 {
  background-image: url(../image/portfolio-3.jpg);
  background-size: cover;
  width: 50%;
  height: 350px;
}
.portfolio-item4 {
  background-image: url(../image/portfolio-4.jpg);
  background-size: cover;
  width: 50%;
  height: 350px;
}

.sns {
  width: 100%;
  display: flex;
}

.sns-item {
  width: 35%;
  text-align: center;
}

.sns-item i {
  background-color: #4e61c0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 8px;
  border: none;
  color: white;
}

@media screen and (max-width: 992px) {
  .main-container {
    flex-direction: column;
  }
  .iphone {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 75px;
    bottom: 0px;
  }
  .main-text {
    margin-top: 50px;
    text-align: center;
  }
  .service-container {
    flex-wrap: wrap;
  }
  .service-items {
    flex-direction: column;
  }
  .service-items div {
    width: 100%;
  }
}
