body {
  margin: 0;
}


.text-input {
  width: 225px;
  border: 0px;
  outline: none;
}

.menu-btn {
  margin-right: 75%;
  background-color: rgb(58, 57, 57);
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.board {
  width: 80%;
  max-width: 1500px;
  height: auto;
}

.board-item {
  background-color: white;
  width: 500px;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  border-left: 5px solid skyblue;
  border-radius: 5px;
}

.ani-nav {
  background-color: slateblue;
  color: white;
  width: 200px;
  height: 100%;
  position: fixed;
  text-align: right;
  /* z-index: 5; */
  /* display: flex; */
  transition: all 1s;
  transform: translateX(-160px);
}


.ani-text {
  text-align: center;
}

.ani-nav:hover {
  transform: translateX(0px);
  text-align: left;
}

.ani-nav:hover p {
  animation-name: slide;
  animation-duration: 1s;
}

@keyframes slide {
  0% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}